@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: SVN-Museo Sans;
    src: url(../fonts/SVN-Museo-Sans-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    .btn-polygon {
        text-decoration: none;
        color: #333;
        border: none;
        background-color: #f2ae1d;
        padding: 5px 25px;
        clip-path: polygon(0 0, 100% 0, 96% 96%, 5% 100%);
        font-family: SVN-Museo Sans;
        font-weight: bold;
    }
    .btn-polygon:hover {
        color: #333;
    }
    .tt {
        position: relative;
    }
    .tt::after {
        content: '';
        position: absolute;
        width: 120%;
        height: 100%;
        top: 0;
        left: -10px;
        z-index: -1;
        background-color: #f2ae1d;
        clip-path: polygon(0 0, 100% 0, 97% 95%, 5% 100%);
    }
    .tt::before {
        content: '';
        position: absolute;
        width: 120%;
        height: 100%;
        top: 10px;
        left: 0;
        z-index: -2;
        background-color: #333;
        clip-path: polygon(0 0, 100% 0, 97% 95%, 5% 100%);
    }
    .title {
        font-family: Montserrat;
        h1 {
            color: #333;
            position: relative;
            hr {
                position: absolute;
                top: 30%;
                right: -10px;
                width: 85%;
                z-index: -3;
                border: 3px solid #f2ae1d;
            }
        }
    }
    header {
        background-color: #333;
        width: 100%;
        position: fixed;
        z-index: 99;
        .logo {
            position: relative;
            .logo-1 {
                position: absolute;
                z-index: 9;
                width: 65%;
                height: 170%;
                background-color: #f2ae1d;
                clip-path: polygon(0 0, 100% 0, 100% 59%, 50% 100%, 0 59%);
                text-align: center;
                a {
                    img {
                        margin-top: 5%;
                        width: 80%;
                    }
                }
            }
        }
        .menu {
            text-align: end;
            ul {
                margin-bottom: 0rem;
                li.menu-hover {
                    position: relative;
                    display: inline-block;
                    list-style: none;
                    letter-spacing: 2px;
                    margin: 0 30px;
                    padding: 24px 0;
                    #icon-search {
                        display: block;
                        width: 5px;
                        color: white;
                    }
                    #icon-close {
                        display: none;
                        width: 5px;
                        color: white;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        text-transform: uppercase;
                        font-family: Montserrat;
                        font-size: 13px;
                    }
                    ul {
                        position: absolute;
                        width: 200px;
                        top: 120px;
                        left: -20px;
                        background-color: white;
                        border-radius: 2px 2px 10px 10px;
                        padding: 0;
                        box-shadow: 1px -1px 8px 1px #999;
                        opacity: 0;
                        transition: 0.5s;
                        li {
                            //                            position: static;
                            width: 100%;
                            padding: 5px 0;
                            display: block;
                            text-align: center;
                            border-top: 1px solid #999;
                            margin: 0;
                        }
                    }
                    //                        &:hover ul {
                    //                        top: 80px;
                    //                        opacity: 1;
                    //                    }
                }
            }
        }
        .search {
            background-color: #444;
            display: none;
            .search-1 {
                margin-left: 68%;
                padding: 12px 0;
                input[type='text'] {
                    border: none;
                    background-color: #444;
                    font-family: Montserrat;
                }
            }
        }
    }
    .followUs {
        position: fixed;
        z-index: 9999;
        .follow {
            position: absolute;
            margin-top: 244px;
            margin-left: 0;
            text-align: center;
            .icon-follow {
                background-color: black;
                padding: 10px 5px;
                display: block;
                a {
                    color: #f2ae1d;
                    font-size: 25px;
                }
            }
        }
        #arrow-follow {
            position: absolute;
            margin-top: 415px;
            margin-left: 0;
            text-align: center;
            background-color: black;
            color: #777;
            font-size: 25px;
            padding: 0 13px;
            #show-follow {
                display: none;
            }
            #hide-follow {
                display: block;
            }
        }
    }
    .slide {
        background-color: white;
        height: 100vh;
        .slide-1 {
            position: relative;
            width: 100%;
            height: 100%;
            background-image: url(../img/nen-slide.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            //            filter: blur(5px);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
            .item {
                width: 100%;
                height: 100vh;
                .content-l {
                    position: absolute;
                    width: 500px;
                    height: 350px;
                    transform: translate(-50%, -50%);
                    left: 23%;
                    top: 50%;
                    background-color: #333;
                    clip-path: polygon(0 0, 100% 0, 96% 96%, 5% 100%);
                    font-family: Montserrat;
                    padding: 50px;
                    h6 {
                        color: #f2ae1d;
                    }
                    h1 {
                        color: white;
                    }
                }
                a {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 65%;
                    left: 37%;
                }
                .img-1 {
                    position: absolute;
                    width: 700px;
                    height: 550px;
                    transform: translate(-50%, -50%);
                    left: 66%;
                    top: 55%;
                    .anh1-slide1 {
                        position: absolute;
                        width: 250px;
                        height: 370px;
                        top: 20%;
                        left: 3%;
                        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
                        transform: rotate(-10deg);
                        background-image: url(../img/slide1.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .anh2-slide1 {
                        position: absolute;
                        width: 250px;
                        height: 370px;
                        top: 26%;
                        left: 72%;
                        clip-path: polygon(0 0, 100% 5%, 100% 98%, 0 100%);
                        transform: rotate(10deg);
                        background-image: url(../img/slide3.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .anh3-slide1 {
                        position: absolute;
                        width: 270px;
                        height: 400px;
                        top: 4%;
                        left: 37%;
                        clip-path: polygon(0 0, 100% 3%, 100% 95%, 0 100%);
                        background-image: url(../img/slide2.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
            .owl-dots {
                position: absolute;
                bottom: 20%;
                right: -5%;
                transform: rotate(90deg);
                .owl-dot {
                    background-color: #333;
                    width: 15px;
                    height: 15px;
                    margin: 0 20px;
                    border-radius: 50%;
                }
                .active {
                    background-color: #f2ae1d;
                    box-shadow: 0 0 15px 1px #fff;
                }
            }
        }
    }
    .gioiThieu {
        width: 100%;
        height: 70vh;
        margin-top: 50px;
        .row {
            height: 100%;
            font-family: Montserrat;
            .col-5 {
                height: 70%;
                color: #333;
                h5 {
                    letter-spacing: 5px;
                    line-height: 40px;
                    margin-bottom: 30px;
                    span {
                        font-weight: bold;
                        font-size: 30px;
                    }
                }
                a {
                    font-size: 20px;
                }
            }
            .content {
                position: relative;
            }
            .content::after {
                content: '';
                position: absolute;
                width: 65%;
                height: 60%;
                top: 0;
                right: 0;
                z-index: -1;
                background-color: #f2ae1d;
                clip-path: polygon(0 0, 100% 0, 98% 95%, 5% 100%);
            }
            .img-gioiThieu {
                height: 100%;
                background-image: url(../img/cau-rong.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                clip-path: polygon(0 0, 100% 0, 95% 97%, 5% 100%);
            }
        }
    }
    .danhMuc {
        .content-danhMuc {
            margin: 40px 0 0 0;
            .card-danhMuc {
                position: relative;
                width: 100%;
                height: 55vh;
                .img-danhMuc {
                    width: 100%;
                    height: 90%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                a {
                    position: absolute;
                    background-color: #f2ae1d;
                    transform: translate(-50%, -50%);
                    top: 80%;
                    padding: 5px 15px 5px 10px;
                    font-family: Montserrat;
                    color: #333;
                    font-size: 20px;
                    clip-path: polygon(0 5%, 100% 0, 95% 100%, 2% 95%);
                    transition: .2s;
                }
                a:hover {
                    top: 79%;
                }
            }
        }
    }
    .toanCanh {
        width: 100%;
        .content-toanCanh {
            margin: 50px 0;
        }
    }
    .baiVietMoi {
        width: 100%;
        .content-baiVietMoi {
            margin: 40px 0 350px 0;
            .cardBaiViet {
                position: relative;
                .img-cardBaiViet {
                    width: 100%;
                    height: 80%;
                    background-repeat: no-repeat;
                    background-size: cover;
                transition: .3s;
                }
                span {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 0;
                    padding: 5px 20px;
                    background-color: #f2ae1d;
                    font-family: Montserrat;
                    font-weight: bold;
                }
                .text-cardBaiViet {
                    padding: 10px;
                    h6 {
                        color: #f2ae1d;
                        font-family: Montserrat;
                    }
                    h4 {
                        color: black;
                        font-weight: bold;
                        font-family: SVN-Museo Sans;
                        letter-spacing: 3px;
                    }
                    h5 {
                        color: #333;
                        font-family: Montserrat;
                        margin: 30px 0;
                    }
                }
            }
            .cardBaiViet:hover .img-cardBaiViet{
                transform: rotate(10deg);
            }
        }
    }
    footer {
        background-image: url(../img/wood-charc.jpg);
        width: 100%;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        .tab-ft {
            margin: 100px 0 50px 0;
            color: white;
            h4 {
                color: #f2ae1d;
                font-family: SVN-Museo Sans;
                font-weight: bold;
                margin-bottom: 40px;
            }
            ul {
                font-family: Montserrat;
                padding-left: 0;
                li {
                    list-style: none;
                }
            }
            span {
                svg {
                    font-size: 30px;
                    margin: 5px 10px;
                    cursor: pointer;
                }
            }
            h1 {
                font-weight: bold;
                font-family: Montserrat;
            }
            h6 {
                font-family: Montserrat;
            }
        }
        .ft {
            background-color: #222;
            padding: 30px 0;
            color: white;
            font-family: Montserrat;
            h6 {
                margin-bottom: 0;
            }
        }
    }
}
