body{
	background-image: url('..//img//anh.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.div{
	height: 90px;
	margin: 10px 5px;
	background-color: #fff;
}
.div h1{
	text-transform: uppercase;
	margin: 0px;
	padding: 27px 80px 0px 80px;
	font-family: arial;
}
#item1{
	margin-left: 70%;
}
.div ul{
	margin: 0px;
}
.div ul li{
	margin-left: 50px;
	list-style: none;
	float: left;
}

.div-1 li{
	position: relative;
}
.div-1 li:hover ul{
	display: block;
}
.div-1 li .test{
	margin-left: 15px;
	color: black;
	text-decoration: none;
}
.div-1 li ul li a{
	color: black;
	text-decoration: none;
}
.div-1 li ul{
	width: 100px;
	padding-left: 0px;
	padding-top: 8px;
	position: absolute;
	display: none;
}
.div-1 li ul li{
	padding: 8px;
	background-color: #5AE05D;
	margin-left: 0px;
	clear: left;
}
.div-1 li ul li:hover{
	background-color: #117F13;
}

.div1{
	padding: 80px;
	margin: 110px 5px;
	background-color: #111;
	opacity: 0.5;
}
.div1 h1{
	color: gray;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
}

.div2{
	padding: 50px;
	margin: 10px 5px;
	background-color: #666;
	border-radius: 50px 0px 50px 0px;
}
.div2 h1{
	text-transform: uppercase;
	letter-spacing: 50px;
	text-align: center;
	font-family: arial;
}